/* bloque */

.bedroom {
    width: 30rem;
    background-color: #ff5e5e;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
/* elemento */

.bedroom__item {
    width: 5rem;
    height: 7rem;

    background-color: #48e;
    margin: 3rem auto 3rem auto;
    text-align: center;
    color: #e8e2db;
    font-weight: 900;
    line-height: 7rem;
}
/* modificador */

.house__bedroom__item--lg {
    width: 13rem;
}
